---
import { cn } from "@/lib/cn";

interface Props {
  image: string;
  minHeight?: string;
  class?: string;
}

const {
  image,
  minHeight = "min-h-[60vh]",
  class: className,
} = Astro.props;
---

<section
  class={cn("parallax-layer relative z-0", minHeight, className)}
  style={`background-image: url('${image}');`}
>
  <slot />
</section>
